<div class="admin-layout">
  <aside class="admin-sidebar">
    <div class="admin-brand">
      <div class="dot"></div>
      <div>
        <div class="name">Monova</div>
        <div class="tag">Admin Panel</div>
      </div>
    </div>

    <nav class="admin-nav">
      <a
        routerLink="/admin/users"
        routerLinkActive="is-active"
        class="admin-nav__item"
      >
        Users
      </a>
      <a
        routerLink="/admin/jobs"
        routerLinkActive="is-active"
        class="admin-nav__item"
      >
        Jobs
      </a>
      <a routerLink="/admin/companies" routerLinkActive="is-active" class="admin-nav__item">
        Companies
      </a>
    </nav>
  </aside>

  <main class="admin-main">
    <router-outlet></router-outlet>
  </main>
</div>
